h1 {
    color: purple;
    font-family: "Lucida Console", Garamond, Arial;
    padding: 15px;
    border: 5px dotted;

}

.recipe {
    color: white;
    font-family: Copperplate, arial, "Times New Roman";
    display: block;
    border: 2px solid;
    padding: 10px;
    
}

* {
    background-color: black;
}