h1 {
    color: purple;
    font-family: "Lucida Console", Garamond, Arial;
}

.recipe {
    color: white;
    font-family: Copperplate, arial, "Times New Roman";
}

* {
    background-color: black;
}